
    .ingrid-darling-regular {
        font-family: "Ingrid Darling", cursive;
        font-weight: 400;
        font-style: normal;
      }
      
     .letra{
margin-left: 100px;
margin-top: 40px;;

     } 

     .banner{
        background-image: url("./assents/WhatsApp\ Image\ 2024-08-08\ at\ 14.25.00\ 1\ \(1\).png");
        height:600px ;
        width: 100%;


     }